.Highlight {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.Highlight nav {
    display: flex;
    width: 100%;
    background-color: #434343;
    padding: 20px;
}

.Highlight nav div.teams {
    display: flex;
    align-items: center;
    color: #eee;
    letter-spacing: 0.5px;
}

.Highlight nav div.backButton {
    padding: 0px 20px 0px 0px;
    cursor: pointer;
}

.Highlight nav div svg {
    color: white;
    font-size: 20px;
}

.Highlight > div {
    /* margin: 50px 0 0 0; */
    width: 45%;
    height: 800px;
    background-color: #212121;
}
