.Highlight {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.Highlight nav {
    display: flex;
    width: 100%;
    background-color: #434343;
    padding: 20px;
}

.Highlight nav div.teams {
    display: flex;
    align-items: center;
    color: #eee;
    letter-spacing: 0.5px;
}

.Highlight nav div.backButton {
    padding: 0px 20px 0px 0px;
    cursor: pointer;
}

.Highlight nav div svg {
    color: white;
    font-size: 20px;
}

.Highlight > div {
    /* margin: 50px 0 0 0; */
    width: 45%;
    height: 800px;
    background-color: #212121;
}

.Highlight div.summary {
    padding: 20px;
    color: white;
    font-size: 40px;
}

.Highlight div.summary .date {
    font-size: 20px;
}

.Highlight div.summary .score {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.Highlight div.summary .score div {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    width: 30%;
}

.Highlight div.summary .score div p {
    padding: 10px 5px;
}

.Highlight div.summary .score img {
    width: 50px;
}
